<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DensifyLA</title>

  <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/main.css">

</head>
<body>

  <div class="container">

    {% with flashed_messages = get_flashed_messages(with_categories=True) %}

      {% if flashed_messages %}
        <div id="alertBox">
        {% for i, msg in enumerate(flashed_messages) %}
          {% if msg[0] == 'message' %}
          <div class="alert alert-primary alert-custom" id="alert_{{ i }}">
            <div class="my-auto mx-1">
              {{ msg[1] }}
            </div>
            <a class="mx-1 close" id="alert_close_{{ i }}" href="#">&times;</a>
          </div>
          {% elif msg[0] == 'error' %}
            <div class="alert alert-danger alert-custom" id="alert_{{ i }}">
              <div class="my-auto mx-1">
                {{ msg[1] }}
              </div>
              <a class="mx-1 close" id="alert_close_{{ i }}" href="#">&times;</a>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

  {% block content %}
    <nav class="navbar fixed-top">
      <h1>DensifyLA</h1>
    </nav>

    <div class="login-wrapper fadeIn">
      <div id="formContent">
        <form class="d-flex flex-column justify-content-center align-items-center"
              method="post" action="{{ url_for('login') }}">
          {{ login_form.csrf_token }}
          <input type="email" class="login-style fadeIn" name="email" placeholder="Email">
          <input type="password" class="login-style fadeIn" name="password" placeholder="Password">
          <button type="submit" class="fadeIn" id="loginButton">Log In</button>
          <a href="/" data-toggle="modal" data-target="#forgotPasswordModal">Forgot Password?</a>
          <button type="button" class="fadeIn" id="registerButton"
                  data-toggle="modal" data-target="#registerModal">Register</button>
        </form>
      </div>
      <div class="d-flex justify-content-center flex-column align-items-center my-4">
        <div>or</div>
        <a href="{{ url_for('index') }}">Continue as guest</a>
      </div>
    </div>
  {% endblock content %}
  </div>

  {% block modals %}
  <!-- Register Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="ml-auto" id="exampleModalLongTitle">DensifyLA Registration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{{ url_for('register') }}">
          {{ register_form.csrf_token }}
          <div class="modal-body d-flex flex-column align-items-center justify-content-center">
            <input class="login-style" type="email" name="register_email" id="registerEmail" placeholder="Email">
            <input class="login-style" type="password" name="register_password" id="registerPassword" placeholder="Password">
            <input class="login-style" type="password" name="register_password_2" id="registerPassword2" placeholder="Re-enter Password">
          </div>
          <div class="modal-footer">
            <button class="m-auto" type="submit" id="registerModalButton">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- "Forgot password?" Modal -->
  <div class="modal fade" id="forgotPasswordModal" tabindex="-1"
       role="dialog" aria-labelledby="forgotPasswordModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="ml-auto">Forgot Password?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{{ url_for('forgot_password') }}">
          {{ forgot_password_form.csrf_token }}
          <div class="modal-body d-flex flex-column align-items-center justify-content-center">
            <input class="login-style" type="email" name="forgot_password_email" id="forgotPasswordEmail" placeholder="Email">
          </div>
          <div class="modal-footer">
            <button class="m-auto" type="submit" id="forgotPasswordModalButton">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock modals %}

  <script src="../static/dist/main.bundle.js"></script>

</body>
</html>
