{% extends "login.html" %}

{% block content %}

  <nav class="navbar fixed-top">
    <h1>Reset Password</h1>
  </nav>

  <div class="login-wrapper">
    <div id="formContent">
      <form class="d-flex flex-column justify-content-center align-items-center"
            method="post" action="{{ url_for('reset_password', token=token) }}">
        {{ reset_password_form.csrf_token }}
        <input class="login-style" type="password" name="reset_password" placeholder="New Password">
        <input class="login-style" type="password" name="reset_password_2" placeholder="Re-enter New Password">
        <button type="submit" id="resetPasswordButton">Submit</button>
      </form>
    </div>
  </div>

{% endblock content %}

{% block modals %}
{% endblock modals %}
